.Button{
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #6f001b;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: transform;
    -webkit-transition: transform;
}

.Button:hover{
    transform: scale(1.1, 1.1);
}

.Button.middle{
    font-size: 32px;
}