
.Actions span{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    margin: 0px 5px;
    transition: transform;
    transform: scale(1, 1);
    vertical-align: middle;
    cursor: pointer;
}

.Actions span:hover{
    transform: scale(1.1, 1.1);
}

.Actions span:last-child{
    margin-right: 0px;
}

.Actions .action-info{
    color: #3498db;
    border-color: #3498db;
}

.Actions .action-edit{
    color: #000;
    border-color: #000;
}

.Actions .action-delete{
    color: #b7477d;
    border-color: #b7477d;
}.Button{
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #6f001b;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: transform;
    -webkit-transition: transform;
    cursor: pointer;
}

.Button:hover{
    transform: scale(1.1, 1.1);
}

.Button.middle{
    font-size: 32px;
}.Dialog{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,.7);
}

.Dialog .dialog-entity{
    width: 350px;
    margin: 50px auto;
}

.Dialog .dialog-head{
    height: 80px;
    line-height: 80px;
    background-color: #6f001b;
    font-size: 38px;
    color: #f0f0f0;
    padding-left: 20px;
}

.Dialog .dialog-content{
    overflow: hidden;
    padding: 10px 20px 20px 20px;
    max-height: 300px;
    background-color: white;
}

.Dialog .dialog-content > span{
    font-size: 24px;
    font-weight: bold;
}

.Dialog .dialog-footer{
    height: 70px;
    line-height: 70px;
    padding-right: 20px;
    text-align: right;
    background-color: white;
    border-top: 1px solid gainsboro;
}

.Dialog .dialog-footer .action-cancel{
    color: gray;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.Dialog .dialog-footer .Button.action-confirm{
    vertical-align: middle;
}

.Dialog .dialog-content .item-info label{
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    padding: 12px 0 6px
}

.Dialog .dialog-content .item-info p{
    font-size: 18px;
}

.Dialog .dialog-content .item-edit label{
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    padding: 12px 0 6px
}

.Dialog .dialog-content .item-edit input{
    padding: 10px;
}
.Excel table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.Excel table thead tr{
    opacity: 0.9;
    background-color: #6f001b;
    font-size: 18px;
    font-weight: 500;
    color: white;
    height: 40px;
}

.Excel table tbody tr{
    height: 50px;
    background-color: white;
}

.Excel table tbody tr td{
    border-right: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
}

.Excel table tbody tr td:last-child{
    border-right: none;
}

.Excel table tbody tr:last-child{
    border-bottom : none;
}
.Logo{
    font-size: 30px;
    background-color: white;
}

.Logo img{
    width: 50px;
    vertical-align: middle;
}

.Logo span{
    vertical-align: middle;
}.rating span{
    margin-left: 5px;
    font-size: 28px;
    position: relative;
}
.rating span.ratingOn:before{
    content: '\2605';
    position: absolute;
    font-size: 28px;
    color: gold;
    padding: 1px;
}body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: gainsboro;
    color: #333;
    font-size: 16px;
    margin-top: 5px;
    font-family: "SimSun", "宋体", "Arial Narrow";
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #009;
}

a:visited {
    color: #800080;
}

a:hover, a:active, a:focus {
    color: #c00;
    text-decoration: underline;
}
.Display{
}

.Display .header{
    height: 100px;
    line-height: 100px;
    background-color: #6f001b;
}

.Display .header img{
    width: 111px;
    vertical-align: middle;
}

.Display .header span{
    margin-left: 10px;
    font-size: 44px;
    color: #f0f0f0;
    vertical-align: middle;
}

.Display .content{
    margin: 40px 30px 0px 30px;
}

.Display .content .toolbar{
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.Display .content .toolbar input.searchInpt{
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}